.categories_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 4rem;
    flex-wrap: wrap;
}
.list-group-item {
    border: none;
    cursor: pointer;
}
.list-group1 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.active {
    color: #e0218a;
}
.categories {
    display: inline-block;
    margin-bottom: 0.3rem;
}
@media only screen and (max-width: 510px) {
    .categories {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .categories_container-1 {
        display: none;
    }
}
